@use "../variables/resolutions" as *;
@use "../variables/colors" as *;
@use "../mixins/media" as *;
@use "../mixins/font" as *;

.from-scratch-to-pro {
  // will-change: transform;
  padding-block: var(--horizontal-padding);
  &__card-section {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 565px;
    @include less($desktop) {
      height: 486px;
    }
  }
  &__card {
    min-width: 330px;
    @include less(1400px) {
      min-width: 285px;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: gray;
    border-radius: 20px;
    overflow: hidden;
    width: 285px;
    position: relative;
    box-shadow: 0px 6px 35px 0px #0000001a;
    &-title {
      font-weight: 600;
      font-family: "Inter";
      font-size: 20px;
      letter-spacing: -0.02em;
      font-smooth: always;

      -webkit-font-smoothing: subpixel-antialiased;
    }
    &-discription {
      font-size: 16px;
      line-height: 144%;
      font-weight: 500;
      font-family: "Inter";

      letter-spacing: 0.3px;
      font-smooth: always;
      -webkit-font-smoothing: subpixel-antialiased;
      color: #00000066;
    }
    &-images {
      width: 100%;
      flex: 1;
      position: relative;
      background-image: url("@/assets/images/Frame 2147224217.webp");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    // backdrop-filter: blur(60px);
  }
  .training-to-day {
    padding-top: 20px;
    // padding-right: 30px;
    background-color: #f8f8f8;
    position: relative;
    .card-marker {
      margin-inline: 20px;
    }
    &__title {
      padding-inline: 20px;
      margin-top: 15px;
    }
    &__discription {
      margin-top: 5px;
      padding-right: 40px;
      padding-inline: 20px;
    }
    &__images {
      margin-top: 20px;

      & > * {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // box-shadow: 0px 6px 20px 0px #0000002b;
        // border-radius: 10px;
        // padding: 5px;

        // backdrop-filter: blur(15px);

        // box-shadow: -2px -2px 10px 0px #ffffffe5 inset;

        // box-shadow: 2px 2px 10px 0px #ffffffe5 inset;
      }
    }
    &__blander {
      left: 20px;
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      top: 88px;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    &__ozon {
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      right: 30px;
      aspect-ratio: 1;
      top: 98px;
    }
    &__wb {
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
      left: 54px;
      aspect-ratio: 1;
      bottom: 34px;
    }
    &__figma {
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      animation-timing-function: ease-in-out;
      aspect-ratio: 1;
      bottom: 61px;
      right: 47px;
    }
  }
  .card-marker {
    &-icon {
      box-shadow: 0px 2px 5px 0px #0000001a;
    }
  }

  .card-marker-icon::before {
    background-image: conic-gradient(
      from -18.65deg at 50% 50%,
      rgba(0, 0, 0, 0.05) 0deg,
      rgba(0, 0, 0, 0.15) 90deg,
      rgba(0, 0, 0, 0.05) 181.58deg,
      rgba(0, 0, 0, 0.15) 270deg,
      rgba(0, 0, 0, 0.05) 360deg
    ) !important;
  }

  .payment-after {
    padding: 20px;
    background-color: #f1f1f1;
    &__image {
      background-image: url("@/assets/images/payment-background.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__title {
      margin-top: 13px;
      padding-right: 10px;
      margin-bottom: 6px;
      line-height: 124.7%;
      letter-spacing: 2.1px;
      span {
        letter-spacing: 0.8px;
        font-size: 23px;
        line-height: 153.9%;
        word-spacing: -3px;
      }
      b {
        color: #0000004d;
        letter-spacing: -0.2px;
        font-size: 24px;
      }
    }
    &__discription {
      padding-right: 10px;
    }
    &__month {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 16px;
      padding-left: 24px;
      padding-block: 16px;
      border-radius: 170px;
      gap: 55px;
      backdrop-filter: blur(24.791748046875px);

      box-shadow: 0px 3.31px 16.53px 0px #0000001f,
        -3.31px -3.31px 33.06px 0px #ffffffe5 inset;
      color: #0000004d;
      font-family: GNF;
      font-size: 30px;
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      text-wrap: nowrap;

      &:nth-child(1) {
        top: 59.38px;
        left: 10px;
        rotate: -3.5deg;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:nth-child(2) {
        top: 114.24px;
        left: 96.64px;
        rotate: 8.5deg;
        animation-timing-function: ease-in-out;
      }

      &_green {
        gap: 35px;
        background-color: $light_green;
        backdrop-filter: blur(24.791748046875px);

        box-shadow: 0px 3.31px 16.53px 0px #0000001f,
          -4.96px -4.96px 33.06px 0px #ffffffe5 inset,
          4.96px 4.96px 33.06px 0px #ffffffe5 inset;
        top: 176.98px;
        left: 25.36px;
        rotate: -10deg;
      }
      span {
        padding: 10px;
        border-radius: 168.58px;
        text-wrap: nowrap;
        backdrop-filter: blur(24.791748046875px);

        box-shadow: 0px 3.31px 16.53px 0px #0000001f,
          -3.31px -3.31px 16.53px 0px #ffffffe5 inset,
          3.31px 3.31px 16.53px 0px #ffffffe5 inset;
        font-size: 18.64px;
      }
    }
  }
}

.platform {
  align-items: center;
  justify-content: center;
  background-image: url("@/assets/images/Frame 2147224266 (1).svg");
  background-color: #f9f9f9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // gap: 20px;
  &__icon {
    position: relative;
    &:nth-child(1) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        translate: -50%;
        width: 24px;
        padding-inline: 10px;
        height: 2px;
        background-color: #0000001a;
      }
    }

    span {
      position: absolute;
      animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
      padding: 3px 12px;
      font-family: "SF Pro Display";
      width: max-content;
      color: #00000059;
      font-weight: 600;
      line-height: 130%;
      border-radius: 40px;
      font-size: 13px;
      padding-inline: 10px;
      // background-color: #f2f2f2;
      background-color: #0000000d;
      backdrop-filter: blur(40px);

      box-shadow: 0px 2px 7px 0px #00000014, -2px -2px 10px 0px #ffffffe5 inset,
        2px 2px 10px 0px #ffffffe5 inset;
    }
    &:nth-child(2) {
      span {
        top: 7px;
        left: -106%;
      }
    }
    &:nth-child(3) {
      span {
        animation-timing-function: ease-in-out;
        top: 7px;
        left: 78%;
      }
    }
    &:nth-child(4) {
      span {
        bottom: 10px;
        left: -106%;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
      }
    }
  }

  &:nth-child(2) {
    background-color: transparent;
    align-items: flex-start;
    justify-content: center;
    background: none;
    box-shadow: none;
    // max-width: 285px !important;
    @include more(728px) {
      translate: -40px;
    }
  }
  &__marker {
    margin-bottom: 20px;
  }
  &__text {
    padding: 20px;
    gap: 5px;
    background-color: #f1f1f1;
    margin-bottom: 9px;
    width: 100%;
    border-radius: 20px;
    // backdrop-filter: blur(60px);
    box-shadow: 0px 6px 35px 0px #0000000d, 0px -10px 14px 0px #ffffff80 inset,
      0px 10px 14px 0px #ffffff80 inset, 4px 0px 50px 0px #ffffffcc inset;
  }
  &__title {
    color: #000000e5;
    letter-spacing: -0.02em;
    font-family: "Inter";
    line-height: 125%;
    font-size: 16px;
    font-weight: 600;
  }
  &__disk {
    color: #00000066;
    letter-spacing: -0.02em;
    font-family: "Inter";
    line-height: 125%;
    font-size: 14px;
    font-weight: 500;
  }
}

.career-center-right {
  // background-image: none;
  .training-to-day__discription {
    max-width: 80%;
  }
  &__image {
    // background-image: none;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    img {
      margin-top: auto;
      object-fit: contain;
      object-position: center;
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}

.career-center-left {
  .payment-after__discription {
    max-width: 78%;
  }
  &__image {
    position: static;
    img.background {
      // width: 100%;
      min-width: 100%;

      right: 0;
      left: 0;
      top: 0;
      position: absolute;
    }
  }
  &__icon {
    position: absolute;
    max-width: 48px;
    aspect-ratio: 1;

    top: 90px;
    animation: icon 2.5s cubic-bezier(0.54, 0.19, 0.33, 0.9) infinite;
    left: 47px;

    img {
      // width: 100%;
      object-fit: contain;
      object-position: center;
      pointer-events: none;
    }
    &:nth-child(4) {
      top: 175px;
      left: 11px;
      animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:nth-child(3) {
      top: 119px;
      right: 19px;
      left: auto;
      animation-timing-function: cubic-bezier(0.3, 0.1, 0.64, 0.99);
    }
    &:nth-child(2) {
      top: 31px;
      left: 124px;
      animation-timing-function: ease-in-out;
    }
  }
}

.work-check {
  .from-scratch-to-pro__card-discription {
    max-width: none;
  }
  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    align-items: center;
    justify-content: center;
  }
  &__time {
    font-family: "GNF";
    font-weight: 400;
    translate: -13px;
    letter-spacing: -0.05em;
    font-size: 100px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%);
    -webkit-background-clip: text; /* Обрезаем фон по тексту (для Safari/Chrome) */
    background-clip: text; /* Стандартное свойство */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным (для Safari/Chrome) */
    color: transparent; /* Делаем текст прозрачным (стандартное свойство) */
    display: inline-block;
  }
  &__label {
    &.gradient-border {
      position: absolute;
    }
    right: -50px;
    top: 5px;
    background-color: #ceff2f;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #76950f;
    -webkit-text-fill-color: #76950f;
    z-index: 3;
    padding: 5px 10px;
    line-height: 90%;
    font-weight: 400;
    letter-spacing: 0;
    backdrop-filter: blur(40px);

    box-shadow: 0px 2px 7px 0px #00000014, -2px -2px 10px 0px #ffffffe5 inset,
      2px 2px 10px 0px #ffffffe5 inset;
  }
  &__text {
    color: #00000066;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 500;
    text-wrap: nowrap;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
}

.special-offer {
  background-color: #f9f9f9;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  align-items: flex-start;
  justify-content: start;
  gap: 15px;

  &__spa {
    background-color: transparent;
    border: none;
    margin-top: auto;
    cursor: pointer;
  }
  .side-media {
    padding: 5px;
    padding-left: 20px;
    background-color: #fafafa;
    gap: 15px;
    // justify-self: flex-end;
    box-shadow: 0px 6px 10px 0px #0000000d;

    // backdrop-filter: blur(5px);
  }
  .side-media__img {
    min-height: 32px;
    min-width: 32px;
  }
  .side-media__text {
    color: #323232;
    padding-inline: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
  &__title {
    font-size: 30px;
    font-weight: 400;
    font-family: "GNF";
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
}

.second-pc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  backdrop-filter: blur(60px);
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.05);
  background: #f1f1f1;
  &_top{
    .second-pc-card__text{
      padding-bottom: 0;
      padding-top: 20px;
    }
    .second-pc-card__image{
      display: flex;

    }
  }
  &__image{
    flex: 1;
    width: 100%;
    img{
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__text {
    padding: 20px;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__icon {
    margin-bottom: 15px;
  }
  &__title {
    font: 600 20px / 1.2 $font-family;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
  }
  &__disc {
    font: 500 14px / 1.3 $font-family;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
  }
}
