@use "../variables/resolutions" as *;
@use "../variables/colors" as *;
@use "../mixins/media" as *;
@use "../mixins/font" as *;

.advantages {
  justify-content: space-between;
  background-color: #e4e4e4;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -400px;

    left: 0;
    right: 0;

    height: 460px;
    background: linear-gradient(to top, #e4e4e4 0%, #f8f8f8 100%);
    // filter: blur(20px);
    z-index: 0;
  }

  background-image: url("@/assets/images/line.svg");
  background-size: 176px 100%;

  &__content {
    padding-bottom: 250px;
    padding-top: 252px;
    align-items: flex-start;
    // flex: 1;
  }
  &__image {
    position: relative;
    flex: 1;
    align-items: center;
    &::before {
      content: "";
      display: block;
      flex: 1;
    }

    .garbage {
      flex: 1;
    }
    .image__container {
      position: sticky;
      bottom: -14%;
      max-width: 1000px;
      width: 100%;
    }
    img {
      padding-left: 18%;
      padding-right: 5.7%;
      // width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
      max-width: 100%;
      width: 100%;
      // position: absolute;
      // display: none;
      // transform: translateY(-100%);
    }
  }
  &__title {
    padding-top: 20px;
  }

  &__cards {
    translate: -11px;
    margin-top: 75px;
    flex: 1;
    display: grid;
    // width: 100%;
    grid-template-columns: [col1] 364px [col2] 13px [col3] 553px [col-end];
    grid-template-rows: [row1] 465px [row3] 29px [row4] 170px [sd] 32px [row5] 400px [row-end];
  }

  &__card {
    border-radius: 30px;

    &_1 {
      grid-column: col1;
      grid-row: row1 / sd;
      padding-bottom: 0 !important;
      & .advantages-card__title {
        max-width: 206px;
      }
      & .advantages-card__image{
        img{
          object-position: bottom;
        }
      }
    }
    &_2 {
      grid-column: col3;
      grid-row: row1 / row3;
      padding-bottom: 0 !important;
      & .advantages-card__discription {
        max-width: 365px;
      }

    }
    &_3 {
      padding: 0 !important;
      grid-column: col3;
      grid-row: row4;
      background-color: #ffdac1;
      & .advantages-card__text {
        max-width: 350px;
        
      }

    }
    &_4 {
      grid-column: col1 / col-end;
      grid-row: row5;
      background-color: #e2f0cb;
      & .advantages-card__discription {
        max-width: 500px;
      }
      
    }
  }
}

.advantages-card {
  position: relative;
  box-shadow: 0px 4px 15px 0px #0000001a;
  padding: 24px;
  padding-top: 30px;
  background-color: #efefef;
  @include less($desktop) {
    padding: 20px;
    padding-top: 24px;
  }
  &__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      max-width: 115%;
      max-height: 100%;
      // width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__text {
    padding: 24px;
    padding-top: 36.5px;
  }
  &__discription {
    padding-top: 10px;
    font-weight: 500;
    font-family: "Inter";
    @include font-size(14px, 14px, 14px, 16px);
    line-height: 130%;
    color: #00000066;
    letter-spacing: -0.35px;
  }

  &__title {
    font-weight: 600;
    font-family: "Inter";
    @include font-size(16px, 16px, 16px, 20px);
    line-height: 120%;
    letter-spacing: -0.4px;
  }
  &__side-media {
    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateY(-50%);
    width: fit-content;
  }
}
