@use "../variables/resolutions" as *;
@use "../variables/colors" as *;
@use "../mixins/media" as *;
@use "../mixins/font" as *;

.diploma {
  align-items: flex-start;
  &__card {
    border-radius: 40px;
    box-shadow: 0px 6px 30px 0px #0000001a;
    // height: 650px;
    // overflow: hidden;
    // aspect-ratio: 1227/650;
    
    max-width: 100%;
  }
  &__cards {
    width: 100%;
    gap: 20px;

    @include less(1100px){
      flex-wrap: wrap;
    }
    @include less(700px) {
      flex-direction: column;
    }
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 38px;
    line-height: 114.99999999999999%;
    letter-spacing: -1%;
    vertical-align: bottom;
  }
  margin-bottom: 226px;
  @include less(500px){
    margin-bottom: 120px;
  }
}
.benefits {
  // flex-grow: 613;
  // background-color: #cfff32;
  background: conic-gradient(from 221.6deg at 50% 50%, #F0FFC4 0deg, #CFFF32 360deg);

  align-items: flex-start;
  padding: 30px;
  padding-bottom: 0;
  &__detail {
    flex: 1;
    width: 100%;
    // margin-inline: 10px;
    position: relative;
    box-shadow: 0px 6px 24px 0px #0000001c;

    box-shadow: 0px -10px 14px 0px #ffffff80 inset;

    box-shadow: 0px 10px 14px 0px #ffffff80 inset;

    box-shadow: 4px 0px 40px 0px #ffffff inset;

    box-shadow: -4px 0px 40px 0px #ffffff inset;

    backdrop-filter: blur(90px);

    border-radius: 80px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: flex-end;
    // padding-inline: 89px;
    padding-top: 89px;
    // animation: float 3s infinite ease-in-out;
    justify-content: center;
    img{
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__discription {
    color: #00000080;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-family: "Inter";
  }
  &__label {
    position: absolute;
    right: 33px;
    top: -56px;
    background-color: #F4FCDA;
    border-radius: 20px;
    padding: 10px;
    max-width: 154px;
    display: flex;
    animation: float 4s infinite linear;
    flex-direction: column;
    gap: 16px;

  }
  &__title {
    margin-top: 15px;
    margin-bottom: 83px;
    font-family: "GNF";
    color: #000000cc;
    font-weight: 400;
    font-size: 38px;
    text-transform: uppercase;
  }
}

.qualification {
  // flex-grow: 1227;
  position: relative;
  // overflow: hidden;
  background-color: #f4f4f4;
  justify-content: end;
  min-height: 578px;

  @include less($tablet) {
    &.row{
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__card {
    position: absolute;
    max-height: 55%;
    //   inset: 0;
    animation: float 6s infinite linear;
    object-fit: contain;
    object-position: center;
    &:nth-child(1) {
      animation-timing-function: cubic-bezier(0.4, 0.2, 0.6, 1);
    }
    width: 54%;
  }
  &__card_document {
    left: 17.25%;
    top: 7.23%;
  }

  &__card_green {
    left: 12.06%;
    top: 22.76%;
  }

  &__curtain {
    z-index: 2;
    overflow: hidden;
    padding: 30px;
    background: repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 9px,
      rgba(0, 0, 0, 0.1) 9px,
      rgba(255, 255, 255, 0.1) 18px
    );
    backdrop-filter: blur(15px);
    align-items: flex-start;

    box-shadow: -10px 4px 35px 0px #0000001a;

    gap: 16px;
    @include more($tablet) {
      max-width: 40%;
    }
  }
  &__discription {
    color: #00000066;
    font-family: "Inter";
    font-weight: 500;
    // font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.02em;
    vertical-align: bottom;
    padding-right: 106px;
    // background-color: #f5f5f51c;
    // border-radius: 60px;
  }
  &__title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    vertical-align: bottom;
    &::before{
      background-color: #f8f8f862;
      backdrop-filter: blur(60px);
      content: "";
      position: absolute;
      padding: 120px 150px;
      border-radius: 100px;
      translate: 0% -18%;
      z-index: -1;
    }
  }
  &__cta {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #f5f5f5;
    box-shadow: 0px 6px 10px 0px #0000000d;
    backdrop-filter: blur(5px);
    color: #000000cc;
    border-radius: 64px;
    z-index: 3;
  }
  &__side-media {
  }
}

.section-name {
  &__index {
  }
  &__text {
  }
  &__text-wrapper {
  }
}
.side-media {
  &__img {
  }
  &__text {
  }
}
