.second-pc-card.gradient-border.from-scratch-to-pro__card
    .second-pc-card__image
        img(src="./assets/images/02/Group 2087327115.webp", alt="Окружение")
    .second-pc-card__text
        +card-name("Окружение", "community-12").second-pc-card__icon
        .second-pc-card__title Дизайн-тусовка
        .second-pc-card__disc 
            | Мы собрали комьюнити новичков
            br
            | и профи, чтобы обмениваться
            br
            | опытом, вдохновлять, находить
            br
            | полезные связи и поддерживать
            br
            | тёплую атмосферу
