.second-pc-card.gradient-border.from-scratch-to-pro__card.second-pc-card_top
    .second-pc-card__text
        +card-name("Проверки работ", "review-12").second-pc-card__icon
        .second-pc-card__title 
            | Персональная
            br
            | обратная связь
        .second-pc-card__disc 
            | Каждое задание проверяется
            br
            | наставником в течение 24 часов.
            br
            | Даже на бесплатных курсах
    .second-pc-card__image
        .career-center-right__image.payment-after__image
            img(loading="lazy", src="./assets/images/02/Group 2087327113.webp", alt="alt")
            .work-check__info.column
                .work-check__time
                    | 40
                    .work-check__label.gradient-border минут
                .work-check__text Среднее время проверки
