
.advantages__content.column
    +sectionName('07', 'Преимущества').advantages__name
    .section-title.advantages__title
        b Не просто учим дизайну,
        br
        span а меняем мышление

    .advantages__cards
        .advantages__card.advantages__card_1.gradient-border
        .advantages__card.advantages__card_2.gradient-border
        .advantages__card.advantages__card_3.gradient-border
        .advantages__card.advantages__card_4.gradient-border

.advantages__image.column
    //- div.garbage
    .image__container
        img(src="./assets/images/microphone.png", alt="#")
