<html>
    <section id="demand">
        <h2 class="h2">
            | Дизайнеры широко востребованы,<br>
            | <span>однако спрос не всегда успевает за&nbsp;предложением по разным причинам:</span>
        </h2>
        <div class="div-picture">
            <picture class="picture">
                <source srcset="./assets/images/demand--mobile.svg" media="(width <= 1080px)" />
                <img class="img-background" src="./assets/images/demand.svg" loading="lazy" alt="" dragging="false"/>
            </picture>




            <div class="div-bubble">
                <p class="p-title">
                    <img class="img-icon" src="./assets/images/negative.webp" loading="lazy" alt="" dragging="false"/>
                    | 01
                </p>
                <p class="p-text">
                    | Отсутствие портфолио,<br>
                    | практического опыта у новичков
                </p>
                <div class="div-dot"></div>
            </div>
            <div class="div-bubble">
                <p class="p-title">
                    <img class="img-icon" src="./assets/images/negative.webp" loading="lazy" alt="" dragging="false"/>
                    | 02
                </p>
                <p class="p-text">
                    | Перенасыщение специалистами<br>
                    | с базовыми навыками
                </p>
                <div class="div-dot"></div>
            </div>
            <div class="div-bubble">
                <p class="p-title">
                    <img class="img-icon" src="./assets/images/negative.webp" loading="lazy" alt="" dragging="false"/>
                    | 03
                </p>
                <p class="p-text">
                    | Низкое качество работ,<br>
                    | нет творческой жилки и харизмы
                </p>
                <div class="div-dot"></div>
            </div>
            <div class="div-bubble">
                <p class="p-title">
                    <img class="img-icon" src="./assets/images/negative.webp" loading="lazy" alt="" dragging="false"/>
                    | 04
                </p>
                <p class="p-text">
                    | Слабая адаптация программ<br>
                    | к рыночным требованиям
                </p>
                <div class="div-dot"></div>
            </div>




        </div>
        <img class="img-separator" src="./assets/images/separator-demand.svg" loading="lazy" alt="" dragging="false"/>
    </section>
</html>
