mixin quest(text, details= "any text")
    .questions__question.question.gradient-border
        .question__header
            p.question__content= text
            +green-arrow("./assets/images/11/plus.svg").faq__open
        .question__details(style="height:0")
            p= details


.faq-container
    .faq__content
    .faq__title
        .section-name.gradient-border
            .faq__number.section-name__index 11
            .section-name__text-wrapper.gradient-border
                .section-name__text FAQ
    
    .faq__subtitle.faq-subtitle
        h3 Ответы на часто задаваемы вопросы
    
    .faq__questions.questions.column
        +quest("Сколько нужно учиться на дизайнера?","Чтобы начать работать дизайнером достаточно 2-3 месяцев обучения. При условии прохождения программы до конца наши студенты получают диплом установленного государством образца, подтверждающий знания, и портфолио, что подтвердит скиллы. Более 89% наших студентов трудоустраиваются по профессии или успешно выходят на фриланс сразу после обучения.")
        +quest("Как понять каким дизайнером становиться?")
        +quest("Сколько времени в неделю нужно на обучение?")
        +quest("Я получу практический опыт на обучении?")
        +quest("Получится ли устроиться на работу после прохождения программы?")
        +quest("Я смогу изучать материалы курса после обучения?")
        +quest("Как я смогу подтвердить свое образование?")
    
    .faq__separator.separator