mixin header-course()
     .header__course.gradient-border
        .header__course-title
            span.gradient-border Web-дизайн с нуля
        .header__course-image
            img(src="./assets/images/Checker.png", alt="alt") 
        +green-arrow().header__course-cta

mixin burger(text)
    .header__burger.header__link.gradient-border.row&attributes(attributes)
        .header__burger-icon.gradient-border.burger
                input(type="checkbox")
                label
                    span 
                    span 
                    span 
        .header__burger-text= text

header.header.container
    nav.header__desktop.row
        .header__logo.row
            .header__logo-image
                img(src="./assets/images/logo.svg", alt="")
            h1.header__title Yudaev School
        .header__menu.gradient-border.row
            +burger("Курсы")#burger-pc
            .header__links.row
                a(href="#").link.header__link.gradient-border Материалы
                a(href="#").header__link.gradient-border Блог
                a(href="#").header__link.gradient-border Центр карьеры
                a(href="#").header__link.gradient-border О школе
                a(href="#").header__link.gradient-border.header__link_green Бесплатный курс

            .header__courses.column
                .wrapper.gradient-border.column
                    .header__section.column
                        +side-media("Бесплатные программы", "./assets/images/header/Vector (7).svg").header__section-title
                        .header__section-content
                            +header-course
                            +header-course
                            +header-course
                            +header-course
                            +header-course
                            +header-course
                            
                    .header__section.column
                        +side-media("Основные программы", "./assets/images/header/Vector (8).svg").header__section-title
                        .header__section-content
                            +header-course
                            +header-course
                            +header-course
                            +header-course
                            +header-course
                            
    nav.header__mobile.column
        .header__head.row
            .header__logo.row
                .header__logo-image
                    img(src="./assets/images/logo.svg", alt="")
                h1.header__title Yudaev School                     

            +burger("Меню")#burger-mobile
                
        

        .header__mobile-content.column.gradient-border(style="display: none;")
            .header__mobile-links.column
                +side-media("Курсы", "./assets/images/header/plus.svg", true).header__mobile-link.gradient-border#view-course
                +side-media("Материалы", "./assets/images/header/black-right.svg", true).header__mobile-link.gradient-border
                +side-media("Бесплатные курс", "./assets/images/header/white-right.svg", true).header__mobile-link.gradient-border.header__mobile-link_green
                .header__mobile-mini-link.gradient-border.first Центр карьеры
                .header__mobile-mini-link.gradient-border Блог
                .header__mobile-mini-link.gradient-border О школе
            .header__mobile-foot.column
                .header__mobile-foot-section.column
                    .header__mobile-foot-title Мессенджеры
                    .header__mobile-foot-links.row
                        .header__mobile-mini-link.gradient-border Telegram
                        .header__mobile-mini-link.gradient-border WhatsApp
                .header__mobile-foot-section.column.social
                    .header__mobile-foot-title Соц. сети
                    .header__mobile-foot-links.row.social
                        +green-arrow("./assets/images/header/icons/be.svg")
                        +green-arrow("./assets/images/header/icons/pint.svg")
                        +green-arrow("./assets/images/header/icons/inst.svg")
                        +green-arrow("./assets/images/header/icons/tg.svg")
                        +green-arrow("./assets/images/header/icons/vk.svg")
                        +green-arrow("./assets/images/header/icons/yt.svg")

            .header__mobile-curses.column 
                +green-arrow("./assets/images/header/icons/left-arrow.svg").header__mobile-back
                .header__mobile-course.column
                    .header__mobile-course-head.row
                        +side-media("Бесплатные программы", "./assets/images/header/Vector (7).svg").header__section-title
                        .header__mobile-course-count.gradient-border 5
                    .header__mobile-course-content.row
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                .header__mobile-course.column
                    .header__mobile-course-head.row
                        +side-media("Основные программы", "./assets/images/header/Vector (8).svg").header__section-title
                        .header__mobile-course-count.gradient-border 5
                    .header__mobile-course-content.row
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля
                        .header__mobile-course-card.column
                            .header__mobile-course-image.gradient-border
                                img(src="./assets/images/Checker.png", alt="Web-дизайн с нуля")
                            .header__mobile-course-title Web-дизайн с нуля