+sectionName('10', 'Помогаем с вакансиями').help-with-vacancies__name
.section-title.help-with-vacancies__title Мы активно работаем над улучшением ситуации на рынке дизайна, закрывая все эти потребности
.help-with-vacancies__content.row
    .help-with-vacancies__card.employment-opportunities.row
        .employment-opportunities__text.column
            .card-marker
                .card-marker-icon.gradient-border
                    svg(width="20", height="20", viewBox="0 0 24 24")
                        use(href="#plus-20")
                .card-marker-text Трудоустройство
            .employment-opportunities__count 20
            .employment-opportunities__sub-count проектов в день
            .employment-opportunities__disk Мы публикуем нашим студентам и гарантируем индивидуальную поддержку в трудоустройстве
        .employment-opportunities__image
            img(src="./assets/images/10/Frame 2147224423.png", alt="")
    .help-with-vacancies__card.join.column
        .card-marker
            .card-marker-icon.gradient-border
                svg(width="20", height="20", viewBox="0 0 24 24")
                    use(href="#plus-20")
            .card-marker-text Присоединяйся
        .join__title Ты сможешь повторить их успех
        .join__cards.column
            .join__card.row.join-card.gradient-border
                .join-card__index.gradient-border 1
                .join-card__image 
                    img(src="./assets/images/10/Frame 2147224268.png", alt="")
                .join-card__text.column.gradient-border
                    .join-card__name Имя Фамилия
                    .join-card__experience 6 мес в дизайне
                .join-card__price 360 000 ₽
            .join__card.row.join-card
                .join-card__index.gradient-border 1
                .join-card__image 
                    img(src="./assets/images/10/Frame 2147224268.png", alt="")
                .join-card__text.column.gradient-border
                    .join-card__name Имя Фамилия
                    .join-card__experience 6 мес в дизайне
                .join-card__price 360 000 ₽
            .join__card.row.join-card
                .join-card__index.gradient-border 1
                .join-card__image 
                    img(src="./assets/images/10/Frame 2147224268.png", alt="")
                .join-card__text.column.gradient-border
                    .join-card__name Имя Фамилия
                    .join-card__experience 6 мес в дизайне
                .join-card__price 360 000 ₽
            .join__card.row.join-card
                .join-card__index.gradient-border 1
                .join-card__image 
                    img(src="./assets/images/10/Frame 2147224268.png", alt="")
                .join-card__text.column.gradient-border
                    .join-card__name Имя Фамилия
                    .join-card__experience 6 мес в дизайне
                .join-card__price 360 000 ₽

                
        +side-media("Выбрать программу").join__cta
