
.questions-block__title-section
    .section-name.gradient-border
            .faq__number.section-name__index 12
            .section-name__text-wrapper.gradient-border
                .section-name__text Остались вопросы?

.questions-block__content.null
    .questions-container
        .question-subtitle-container
            .questions-block__subtitle
                p Оставьте заявку, если вы не нашли ответ 
                    span.text-gray на свой вопрос
            
            .question__info
                p Наша поддержка проконсультирует вас по любому вопросу
                
                form.question-block__form(action="")
                    input.question-block__input(type="text" placeholder="Имя")
                    input.question-block__input(type="number")
                    input.question-block__input(type="email" placeholder="Почта")
                    
                    button.question-block__form-button
                        p Оставить заявку