.start-with-the-basics__text.container
    +sectionName('01', 'НАЧНИ С ОСНОВ') 
    .start-with-the-basics__title.wave-text
        | Выбери 
        b бесплатный 
            br
            | курс 
        | для себя
    .start-with-the-basics__description.wave-text
        | Выпускники курса — настоящие профи.
        br
        | Мы упаковали 200 кейсов, чтобы показать:
        br
        | Вы сможете так же. И еще лучше


.start-with-the-basics__cards

    .container   
        .start-with-the-basics__grid
            +course_card("./assets/images/74fb8d6e6f6b808a0056540810b3aa31c76061fd.png", "Бесплатный курс", "./assets/images/unlock-icon.svg", "#",  "Web-дизайн с нуля", 'Индивидуальная обратная связь', 'Сертификат', '3 работы в портфолио').start-with-the-the-basics__card
            +course_card("./assets/images/Checker.png", "Бесплатный курс", "./assets/images/unlock-icon.svg", "#",  "Дизайнер карточек маркетплейсов", 'Индивидуальная обратная связь', 'Сертификат', '3 работы в портфолио').start-with-the-basics__card
            +course_card("./assets/images/d9ce11eb54039a199c19e9908e72a39e9f198fae.png", "Бесплатный курс", "./assets/images/unlock-icon.svg", "#",  "Дизайнер карточек маркетплейсов", 'Индивидуальная обратная связь', 'Сертификат', '3 работы в портфолио').start-with-the-basics__card
            +course_card("./assets/images/Checker.png", "Бесплатный курс", "./assets/images/unlock-icon.svg", "#", "Web-дизайн с нуля", 'Индивидуальная обратная связь', 'Сертификат', '3 работы в портфолио').start-with-the-basics__card
            +course_card("./assets/images/Checker.png", "Бесплатный курс", "./assets/images/unlock-icon.svg", "#", "Web-дизайн с нуля", 'Индивидуальная обратная связь', 'Сертификат', '3 работы в портфолио').start-with-the-basics__card.start-with-the-basics__card_big
    .start-with-the-basics__interlayer.gradient-border.observe-remove
        .start-with-the-basics__interlayer-icon.gradient-border
            img(src="./assets/images/info-icon.svg", alt="alt")  
        .start-with-the-basics__interlayer-text Старт сразу после регистрации




