mixin card__marker(icon_src, text, color=white)
    .card-marker&attributes(attributes)
        .card-marker-icon.gradient-border(class= color)
            img(loading="lazy", src= icon_src, alt= text)
        .card-marker-text= text