mixin course-list 
    ul.course-list.gradient-border#course-list
        li.course-list__item 
            +circle-icon("graphic-20").course-list__icon.gradient-border
            span.circle-list__text Графический дизайн
        li.course-list__item 
            +circle-icon("ui-20").course-list__icon.gradient-border
            span.circle-list__text UX / UI дизайн
        li.course-list__item 
            +circle-icon("graphic-20").course-list__icon.gradient-border
            span.circle-list__text Веб дизайн
        li.course-list__item 
            +circle-icon("animation").course-list__icon.gradient-border
            span.circle-list__text Motion дизайн
        li.course-list__item 
            +circle-icon("3d-20").course-list__icon.gradient-border
            span.circle-list__text 3D дизайн 