include ../mixins/section-name.pug 
include ../mixins/green-arrow.pug
include ../mixins/card__marker.pug
include ../mixins/cta.pug
include ../mixins/side-media.pug
include ../mixins/technology-card.pug
include ../mixins/icon.pug
include ../mixins/mobile-slider.pug
include ./circle-icon.pug
include ./card-name.pug
include ./course-list.pug