include ../mixins/index.pug 
include ../components/course_card.pug 
//- include ../components/expandable-grid.pug
include ../sections/header.pug

#hero
section.hero.row
    include ../sections/hero



main.main
    //- 1 
    section.start-with-the-basics#first
        include ../sections/start-with-the-basics__01.pug
    //- ->
    section.from-scratch-to-pro#color-section
        include ../sections/from-scratch-to-pro.pug
        
    //- 3
    section.basic-courses.container
        include ../sections/basic-courses.pug
        
    //- 4
    section.diploma.container.column
        include ../sections/diploma.pug
    //- star
    section.real-pros#real-pros
        include ../sections/real-pros.pug
    //- 5
    section.student-results.column.container
        include ../sections/student-results__05.pug
    //- 6
    section.cases.container.column
        include ../sections/cases.pug
    //- 7
    section.advantages.row.container.ll
        include ../sections/advantages__07.pug
    //- Y
    section.according-to-Yandex-Wordstat.null
    //- 9
    section.designers-are-widely-in-demand.null
    //- 10
    section.help-with-vacancies.column.container
        include ../sections/help-with-vacancies__10.pug
    //- 11
    section.faq.column.container
        include ../sections/faq__11.pug
    //- 12
    section.questions-block.container.column
        include ../sections/questions__12.pug

footer.footer
    include ../sections/footer.pug
section.after-footer.container
    .after-footer__text.gradient-border 
        img(loading="lazy", src="./assets/images/yudaev/Yudaev.webp", alt="Yudaev")
    a.go-to-start(href="#hero")
        +side-media("Вернуться в начало сайта", "./assets/images/yudaev/Arrow Up 16.svg", true)

.background-blur#background-blur




