.basic-courses__card.treed.gradient-border
    .basic-courses__card-image
        img(loading="lazy", src="./assets/images/03/a027fc43adef643ef85c08a1137df0b3d1b25251 (1).png", alt="Графический дизайнер")

    .basic-courses__card-blur
        .basic-courses__card-title Графический дизайнер

        .basic-courses__card-discription
            +side-media("3 месяцев", "./assets/images/03/Vector (13).svg").basic-courses__card-month-count
            .basic-courses__card-tags
                .basic-courses__card-tag Программа трудоустройства
                .basic-courses__card-tag Диплом

    .basic-courses__card-footer
        .basic-courses__card-price
            .basic-courses__card-old-price 9 776 ₽ / мес
            .basic-courses__card-new-price от 4 888 ₽ / мес
        a(href="#") 
            +side-media("Записаться на курс")
        