@font-face {
  font-family: "GNF";
  src: url("@/assets/fonts/GNF/GNF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/Headlines/Headlines-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/Headlines/Headlines-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Loos_Extended";
  src: url("@/assets/fonts/Loos_Extended/loos-extended-regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Thin-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Thin-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Thin-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Thin-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Thin-Web.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-ExtraLight-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-ExtraLight-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-ExtraLight-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-ExtraLight-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-ExtraLight-Web.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Light-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Light-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Light-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Light-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Light-Web.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Regular-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Regular-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Regular-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Regular-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Regular-Web.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Medium-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Medium-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Medium-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Medium-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Medium-Web.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Bold-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Bold-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Bold-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Bold-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Bold-Web.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Loos Extended";
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Black-Web.eot");
  src: url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Black-Web.eot#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Black-Web.woff2")
      format("woff2"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Black-Web.woff")
      format("woff"),
    url("@/assets/fonts/LoosLatin/Loos Latin, Cyrillic Extended-Black-Web.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Headlines - Regular */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

/* Headlines - Thin */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

/* Headlines - Light */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

/* Headlines - SemiLight */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-SemiLight.otf")
    format("opentype");
  font-weight: 350;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-SemiLightItalic.otf")
    format("opentype");
  font-weight: 350;
  font-style: italic;
  font-display: block;
}

/* Headlines - Medium */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* Headlines - SemiBold */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-SemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

/* Headlines - Bold */
@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Headlines";
  src: url("@/assets/fonts/headlines-cufonfonts/Headlines-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* San Francisco Pro Display - Black Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-BlackItalic.otf")
    format("opentype");
  font-weight: 900; /* Black обычно соответствует 900 */
  font-style: italic;
  font-display: block;
}

/* San Francisco Pro Display - Bold */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* San Francisco Pro Display - Bold Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* San Francisco Pro Display - Regular */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* San Francisco Pro Display - Regular Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

/* San Francisco Pro Display - Medium */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* San Francisco Pro Display - Medium Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* San Francisco Pro Display - Light */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

/* San Francisco Pro Display - Light Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/San Francisco Pro Display/SF-Pro-Display-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}


