.from-scratch-to-pro__slide.swiper-slide.second-section-slide.gradient-border
    .second-section-slide__index.gradient-border 01
    .second-section-slide__image
        .second-section-slide__background
            img(src="./assets/images/02/image 1911.png", alt="alt")
        .training-to-day__blander
            img(loading="lazy", src="./assets/images/02/blender.svg", alt="blender")
        .training-to-day__ozon
            img(loading="lazy", src="./assets/images/02/ozon.svg", alt="ozon")
        .training-to-day__wb
            img(loading="lazy", src="./assets/images/02/wb.svg", alt="wb")
        .training-to-day__figma
            img(loading="lazy", src="./assets/images/02/figma.svg", alt="figma")
    .second-section-slide__text
        .second-section-slide__group
            +card-name("Обучение сегодня", "study-12")
            .second-section-slide__title Начните с бесплатных базовых курсов сейчас
            .second-section-slide__disc
                | Чтобы понять,
                br
                | в каком направлении двигаться
        .second-section-slide__group
            +card-name("Оплата позже", "later-payment-12")
            .second-section-slide__title
                | Отсрочка 3 месяца
                b   
                    br
                    | для первого платежа
            .second-section-slide__disc
                | Действует для всех флагманских
                br
                | программ с карьерной поддержкой
