.from-scratch-to-pro__slide.swiper-slide.second-section-slide.gradient-border
    .second-section-slide__index.gradient-border 02
    .second-section-slide__image
        .second-section-slide__background
            img(loading="lazy", src="./assets/images/02/Frame 2147224266 (2).svg", alt="")
        .second-section-slide__grid
            img(loading="lazy", src="./assets/images/02/Frame 2147224269.svg", alt="")
            img(loading="lazy", src="./assets/images/02/Frame 2147224271.svg", alt="")
            img(loading="lazy", src="./assets/images/02/Frame 2147224268.svg", alt="")
            img(loading="lazy", src="./assets/images/02/Frame 2147224270.svg", alt="")
            
    .second-section-slide__text
        .second-section-slide__group
            +card-name("Платформа", "platform-12")
            .second-section-slide__title Доступ к курсам навсегда
            .second-section-slide__disc
                | Все материалы останутся у вас — 
                br
                | пересматривайте их в любое
                br
                | удобное время
        .second-section-slide__group
            .second-section-slide__title
                | Занимайтесь в любое
                br
                | комфортное время
            .second-section-slide__disc
                | Можете просматривать материалы
                br
                | с любых устройств и где бы вы не
                br
                | находились
