.from-scratch-to-pro__slide.swiper-slide.second-section-slide.gradient-border
    .second-section-slide__index.gradient-border 03
    .second-section-slide__image
        .second-section-slide__background.second-section-slide__lines
            img(loading="lazy", src="./assets/images/02/Group 2087326974 1.webp", alt="")
        .career-center-left__icon
            img(loading="lazy", src="./assets/images/02/centr-icon/Frame 2147224268.webp", alt="alt")
        .career-center-left__icon
            img(loading="lazy", src="./assets/images/02/centr-icon/Frame 2147224272.webp", alt="alt")
        .career-center-left__icon
            img(loading="lazy", src="./assets/images/02/centr-icon/Frame 2147224273.webp", alt="alt")
        .career-center-left__icon
            img(loading="lazy", src="./assets/images/02/centr-icon/Frame 2147224274.webp", alt="alt")
    .second-section-slide__text
        .second-section-slide__group
            +card-name("Центр карьеры", "career-12")
            .second-section-slide__title От резюме до трудойстройства
            .second-section-slide__disc
                | Помогает на каждом этапе
                br
                | — от составления резюме до выхода
                br
                | на фриланс или в компанию
        .second-section-slide__group
            .second-section-slide__title
                | На связи спустя годы
            .second-section-slide__disc
                | Отвечаем на вопросы выпускников
                br
                | даже спустя годы после обучения
