.from-scratch-to-pro__slide.swiper-slide.second-section-slide.gradient-border
    .second-section-slide__index.gradient-border 04
    .second-section-slide__image
        .second-section-slide__background
            img(loading="lazy", src="./assets/images/02/Group 2087327115.webp", alt="")
    .second-section-slide__text
        .second-section-slide__group
            +card-name("Окружение", "community-12")
            .second-section-slide__title Дизайн-тусовка
            .second-section-slide__disc 
                | Мы собрали комьюнити новичков
                | и профи, чтобы обмениваться опытом, вдохновлять, находить полезные связи
                | и поддерживать тёплую атмосферу
        .second-section-slide__group
            +card-name("Проверки работ", "review-12")
            .second-section-slide__title
                | Персональная обратная связь
            .second-section-slide__disc
                | Каждое задание проверяется 
                br
                | наставником в течение 24 часов.
                br
                | Даже на бесплатных курсах
